<div class="container p-3">
  <form action="/restaurants/{{restaurant._id}}/edit" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="">名字</label>
        <input type="text" class="form-control" name="name" value="{{restaurant.name}}">
      </div>

      <div class="form-group col-md-6">
        <label for="">English Name</label>
        <input type="text" class="form-control" name="name_en" value="{{restaurant.name_en}}">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="exampleFormControlSelect1">餐廳類型</label>
        <select class="form-control" id="exampleFormControlSelect1" name="category" value="{{restaurant.category}}">
          <option>中東料理</option>
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>美式</option>
          <option>酒吧</option>
          <option>咖啡</option>
          <option>其他</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="">Rating</label>
        <input type="number" class="form-control" name="rating" step="0.1" min="1" max="5" value="{{restaurant.rating}}">
      </div>
      <div class="form-group col-md-6">
        <label for="">圖片連結</label>
        <input type="text" class="form-control" placeholder="URL" name="image" value="{{restaurant.image}}">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="">電話</label>
        <input type="text" class="form-control" name="phone" value="{{restaurant.phone}}">
      </div>
      <div class="form-group col-md-8">
        <label for="">地址</label>
        <input type="text" class="form-control" name="location" value="{{restaurant.location}}">
      </div>
    </div>

    <div class="form-group">
      <label for="">Google Map</label>
      <input type="text" class="form-control" placeholder="URL" name="google_map" value="{{restaurant.google_map}}">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">產品描述</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description">{{restaurant.description}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

  </form>
</div>